:root {
    --santa-red: #BD152E;
    --santa-red-alpha: rgba(189, 21, 46, 0.5);
    --santa-green: #07A294;
}

body {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0;
}

#title {
    padding: 3% 15%;
    background-color: var(--santa-red);
    color: white;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 3.5em;
    font-weight: 900;
    font-style: italic;
}

.navbar {
    padding-bottom: 5.5em;
    padding-left: 0;
    width: auto;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 2em;
}

img[alt="telephone"] {
    transform: rotate(10deg);
    width: 80%;
}

.nav-item {
    padding: 0 1em;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.feature-box i {
    color: var(--santa-red);
}

.feature-box i:hover {
    color: var(--santa-green);
} 

div.row {
    margin: 0;
    padding: 0;
}

section#features {
    padding: 7% 15%;
    margin-top: 20px;
}

.feature-box h3 {
    font-weight: 900;
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    margin-top: 10px;
}



#testimonials {
    background-color: var(--santa-red-alpha);
    color: #fff;
    text-align: center;
    
    line-height: 1.5;
}

.carousel-item h2 {
    font-weight: 900;
    font-style: italic;
    font-family: 'Nunito', sans-serif;
    font-size: 3em;
}

#testimonials img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 2em;
}

section#press {
    background-color: var(--santa-red-alpha);
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
}

section#pricing {
    text-align: center;
    margin-top: 15px;
    padding: 3em;
}

.pricing-column {
    margin-top: 15px;
}

section#cta {
    text-align: center;
    background-color: var(--santa-red);
    padding: 10em 0;
}

section#cta h3 {
    font-weight: 900;
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    margin-top: 10px;
    font-size: 3.5em;
    color: white;
    padding-bottom: 0.5em;
}

footer {
    text-align: center;
    padding-top: 10em;
}

footer > i {
    color: black;
}

footer p {
    font-style: italic;
    padding-top: 10px;
}

footer > a {
    color: black;
    margin: 0 7px;
}